*{margin:0;padding: 0;}
.bigbox{width: 1031px;
     overflow: hidden;
     min-height: 620px;
	 padding: 5px;
	 }
.box{
	/***
	margin-left: 80px;
    margin-top: 40px;
	**/
}
.box-l{
	/**
	margin-top: 40px;
    margin-left: 50px;
	*/
     height: 560px;
}
.box-in{width: 840px;
        height: 560px;
        
}
.box-in-t{line-height: 57px;border-bottom:1px solid #F3F2F2}
.box-in-c{height: 561px;
          overflow: hidden;
          position: relative;
}
.box-c-l{width: 630px;}
.box-c-r{width: 210px;
         
}
.r-c2 p{text-indent: 2em;
        line-height: 26px;
}
.mt32{margin-top: 32px;}
.l-c1{height: 388px;
      overflow: hidden;
}
.l-c2{height: 32px;}
.l-c3{height:138px }
.l-c3-b{padding-top: 4px;
        height: 35px;
}
.l-c1-c1 a{text-decoration: none;
           overflow: hidden;
}
.row-l{width:71px;
      overflow: hidden;
}
.row-r{margin-left: -20px;}
.row-l img{border-radius: 50%;
           width:60px;
           display: block;
           height:60px;
}
.l-c1-c2{margin-top: 10px;
         
         padding-left: 100px;
}
.row-r-in{min-width: 50px;
          max-width: 460px;
          border-radius: 5px;
          position: relative;
          min-height: 32px;
          line-height: 32px;
          color: #000;
          text-indent: 1em;
}

.mright{margin-right: -25px;}


.row-r-in em.ls{position: absolute;
             top:12px;
             left:-12px;
             width: 12px;
             height: 9px;
             background-image: url(../images/ls.jpg);
}
.row-r-in em.rs{position: absolute;
	         top:12px;
             right:-12px;
             height: 9px;
             width: 12px;
             background-image: url(../images/rs.jpg);
 }

.l-c1-c3{overflow: hidden;}
.row{display: block;
     width: 95%;
     overflow: hidden;
}

.r-c1-l,.r-c1{overflow: hidden;}
.r-c1-l img{border-radius: 50%;
            width: 40%;
}
.r-c1-r{margin-left: -38px;}

.pl10{padding-left: 10px;}
.p20{padding-top: 17px;
     padding-bottom: 17px;
}

.box-l-c ul li img{
    height: 38px;
    width: 45px;
    display: inline-block;
    margin:0 5px;
}
.box-l-c ul li{
    height: 38px;
    line-height: 38px;
    position: relative;
}
.box-l-c ul .new{
    width: 26px;
    height: 26px;
    position: absolute;
    top: -6px;
    right: 60px;
    background-image: url(../images/new.png);
    line-height: 26px;
    z-index: 99;
    color: white;
    text-align: center;
}
.box-l-c ul li.current{background-image: url(../images/custom_r1_c1.jpg);}
.foot{position:absolute;
      right: 10px;
      bottom: 10px;
}
.emojipanel{
    position: absolute;
    top:26px;
    left: 0;
    display: none;
}
.emoji1{
    width: 26px;
    height: 26px;
}

.edu_msg{background-color: #fff;height: 200px;left: 20%;position: absolute;top: 30%;width: 350px;z-index: 1000;  border-radius: 3% 3%;border: 2px solid #ff6666;-webkit-box-shadow:0 0 15px 10px rgba(153, 161, 161, 0.5);-moz-box-shadow: 0 0 15px 10px rgba(153, 161, 161, 0.5);box-shadow: 0 0 15px 10px rgba(153, 161, 161, 0.5)  }
.edu_msg .edu_msg_title{-webkit-box-shadow:0 7px 10px rgba(153, 161, 161, 0.5);-moz-box-shadow: 0 7px 10px rgba(153, 161, 161, 0.5);box-shadow: 0 7px 10px rgba(153, 161, 161, 0.5);clear: both;color: #fff;font:18px/1em "";  background-color: #ff6666;text-align: center;height: 42px;border-radius: 3% 3%; width: 100%;}
.edu_msg .edu_msg_title .t_con{ line-height: 42px; font-family: "幼圆","微软雅黑","黑体","宋体";font-weight: bold;}
.edu_msg .edu_msg_title .close{background: url("../images/icon_gb2.png") no-repeat;display: inline-block;height: 31px;margin-right: 5px;margin-top: 5px;text-indent: -99999px;width: 31px;cursor: pointer;position: absolute;right: 0;top: 0;;}

.edu_msg .edu_msg_content{height: 35%;margin: 50px auto 0; width: 85%;  text-align: center;color: #f91a1a;font-family:"幼圆","微软雅黑","黑体","宋体";font-size: 18px;}
.edu_msg .edu_msg_footer{line-height: 40px;margin: 1px auto;width: 85%;text-align:center;}
.edu_msg .edu_msg_footer .msg_btn_ok{background: none repeat scroll 0 0 #f66;color: #fff;display: inline-block;font-size: 16px;height: 40px;line-height: 40px;margin: 9px auto auto;text-align: center;width: 116px;border-radius: 5% 5%;font-family:"幼圆","微软雅黑","黑体","宋体";}
.edu_msg .edu_msg_footer .msg_btn_cancel{background: none repeat scroll 0 0 #f66;color: #fff;display: inline-block;font-size: 16px;height: 40px;line-height: 40px;margin: 9px auto auto;text-align: center;width: 116px;border-radius: 5% 5%;font-family:"幼圆","微软雅黑","黑体","宋体";}
#full_bg{
    background: url("../images/pngbg1.png") repeat scroll 0 0 #000;display: block;height: 100%;left: 0;opacity: 0.7;overflow: hidden;position: absolute;text-indent: -10000px;top: 0;width: 100%;z-index: 999;
}