html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video, input  {
    margin: 0;
    padding: 0;
    border: none;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    -webkit-box-sizing:border-box;
}
*,*:before,*:after{
    margin: 0;
    padding:0;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
}
html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6 {
    -webkit-text-size-adjust: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    font-family:"微软雅黑";
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
a{
    text-decoration: none;
}
/* body{font-size:100%;}
  @media screen and (max-width:1120px){
      body{font-size:90%;}
  }   
  @media screen and (max-width:889px){
      body{font-size:70%;}
  }
  @media screen and (max-width:599px){
      body{font-size:50%;}
  }  */  
.auto{margin:0 auto;}
.clear{clear: both;width: 0;height: 0;overflow: hidden;}
.f12{font-size: 1.2rem;line-height: 200%;}
.f14{font-size: 1.4rem;line-height: 200%;}
.f16{font-size: 1.6rem;line-height: 200%;}
.f18{font-size: 1.8rem;line-height: 200%;}
.f20{font-size: 2rem;line-height: 200%;}
.f24{font-size: 2.4rem;line-height: 200%;}
.maxbox{max-width: 1120px;}

/* --------头部区域---*/
.headerbg{
    width: 100%;
    min-width: 1120px;
    height: 30px;
    background:  #2F3B51;
    border-bottom: solid 1px #525A6D;
}
.headerbg ul{float: right;}
.headerbg ul li{
    float:left;
    margin:0 10px 0 30px;
    line-height: 30px;
}
.headerbg ul li a{font-size: 1.2rem;}
.headerbg ul li:nth-child(1):before{
    content:url("../images/vip/person.png");
    position:relative;
    top: 4px;
    left: -5px; 
}
.headerbg ul li:nth-child(1) a{color: #1480E3;}
.headerbg ul li:nth-child(2):before{
    content:url("../images/vip/help.png");
    position:relative;
    top: 5px;
    left: -5px; 
}
.headerbg ul li:nth-child(3):before{
    content:url("../images/vip/lead.png");
    position:relative;
    top: 2px;
    left: -5px; 

}
.headerbg ul a{color: #A4A4A6;}

.edu_msg{background-color: #fff;height: 200px;left: 23%;position: absolute;top: 30%;width: 350px;z-index: 1000;  border-radius: 3% 3%;border: 2px solid #ff6666;-webkit-box-shadow:0 0 15px 10px rgba(153, 161, 161, 0.5);-moz-box-shadow: 0 0 15px 10px rgba(153, 161, 161, 0.5);box-shadow: 0 0 15px 10px rgba(153, 161, 161, 0.5)  }
.edu_msg .edu_msg_title{-webkit-box-shadow:0 7px 10px rgba(153, 161, 161, 0.5);-moz-box-shadow: 0 7px 10px rgba(153, 161, 161, 0.5);box-shadow: 0 7px 10px rgba(153, 161, 161, 0.5);clear: both;color: #fff;font:18px/1em "";  background-color: #ff6666;text-align: center;height: 42px;border-radius: 3% 3%; width: 100%;}
.edu_msg .edu_msg_title .t_con{ line-height: 42px; font-family: "幼圆","微软雅黑","黑体","宋体";font-weight: bold;}
.edu_msg .edu_msg_title .close{background: url("../images/icon_gb2.png") no-repeat;display: inline-block;height: 31px;margin-right: 5px;margin-top: 5px;text-indent: -99999px;width: 31px;cursor: pointer;position: absolute;right: 0;top: 0;;}

.edu_msg .edu_msg_content{height: 35%;margin: 50px auto 0; width: 85%;  text-align: center;color: #f91a1a;font-family:"幼圆","微软雅黑","黑体","宋体";font-size: 18px;}
.edu_msg .edu_msg_footer{line-height: 40px;margin: 1px auto;width: 85%;text-align:center;}
.edu_msg .edu_msg_footer .msg_btn_ok{background: none repeat scroll 0 0 #f66;color: #fff;display: inline-block;font-size: 16px;height: 40px;line-height: 40px;margin: 9px auto auto;text-align: center;width: 116px;border-radius: 5% 5%;font-family:"幼圆","微软雅黑","黑体","宋体";}
.edu_msg .edu_msg_footer .msg_btn_cancel{background: none repeat scroll 0 0 #f66;color: #fff;display: inline-block;font-size: 16px;height: 40px;line-height: 40px;margin: 9px auto auto;text-align: center;width: 116px;border-radius: 5% 5%;font-family:"幼圆","微软雅黑","黑体","宋体";}
#full_bg{
    background: url("../images/pngbg1.png") repeat scroll 0 0 #000;display: block;height: 100%;left: 0;opacity: 0.7;overflow: hidden;position: absolute;text-indent: -10000px;top: 0;width: 100%;z-index: 999;
}

