.border-bot{border-bottom: 1px solid #ACACAC;}
.border-bots{border-bottom: 1px solid #DADEDD;}
.boeder-bot-d{border-bottom: 1px dashed #F3F2F2}
.align-center{text-align: center;}
.tright{text-align: right;}
.disblock{display: block;}
.cf1212{color: #fff;}
.cb{color: #000;}
.color1{color: #909090;}
.color2{color: #B7B1B1}
.color3{color: #FF9348}
.color4{color: #4F5A64;}
.newmeg{color: red;}
.f26{font-size: 13px;}
.f20{font-size: 14px;}
.f16{font-size: 14px;}
.f14{font-size: 14px;}
.f34{font-size: 17px;}
.f12{font-size: 16px;}
.f30{font-size: 20px;}
.lh30{line-height: 30px;}
.bgcolor{background-color: #F9F9FD;}
.bodcolor{background-color:#F9F9FA;}
.bgcolor2{background-color: #F0EFF5;}
.bgcolor3{background-color: #FF5A00;}
.bgcolor4{background-color: #ff7300;}
.bgcolor5{background-color: #F9F9FA;}
.bgcolor6{background-color: #f8f8f8;}
.bgcolor7{background-color: #c9f063;}
.bgcolor8{background:url("../images/bodybg.jpg")}
.bgcolor9{background-color: #F9F9FA;}
.bgf{background-color: #fff;}
.marauto{margin: 0 auto;}
.mt100{margin-top: 50px;}
.mt30{margin-top: 30px;}
.mt20{margin-top: 20px;}
/*.mt15{margin-top: 15px;}*/
.mt10{margin-top: 10px;}
.mt5{margin-top: 5px;}
.mb30{margin-bottom: 30px;}
.paddingtop40{padding-top: 20px;}
.w160{width: 190px;border-right: 1px solid #F3F2F2;}
.helght140{height: 70px;}
.helght57{height: 57px;}
.fright{float:right;}
.fleft{float: left;}
.m0{
    margin-left: 0;
    margin-right:0;
}
.p0{padding: 0;}
.h710{height: 710px;}
.h100{height: 100px;}
.p15{padding-left: 15px;
     padding-right: 15px;
}
.pr30{padding-right: 30px;}
.p25{padding-left: 25px;}
.border1111111111111{border:1px solid #d1d1d1;}
.border2{border:1px solid #d4d4d4;}
.border3{border:1px solid #a4d116;}
.border4{border:2px solid #fff;}
.bor-t-n{border-top:0;}
.border0{border:0;}
.pleft{padding-left: 18px;}
.pleft24{padding-left: 28px;}
.tright{text-align: right;}
.clear{overflow: hidden;}
.header{height: 50px;
          
    }
.header span{line-height: 100px;}

.header em{position: absolute;
	      display: block;
	}
.header em.arrow{width: 12px;
	            height: 30px;
                background-image: url(../images/arrow.jpg);
                left:20px;
                top:12px;
                background-repeat: no-repeat;
}
.header em.arrows{width: 18px;
	            height: 32px;
                background-image: url(../images/arrows.jpg);
                left:28px;
                top:35px;
}
.header span.butn{position: absolute;
            top:20px;
            right: 28px;
            background-image: url(../images/butn.jpg);
            width:25px;
            height: 20px;
            background-size: 100% auto;
            background-repeat: no-repeat;
}
.header span.kh{
            top:35px;
            right: 28px;
            background-image: url(../images/butn.jpg);
            width:40px;
            height: 34px; 
}
.header span.add{
            top:18px;
            right: 20px;
            background-image: url(../images/add.jpg);
            width:23px;
            height: 23px;
            display: block;
            position: absolute;
            background-size: 100% auto;
            background-repeat: no-repeat;
}

.col-l{height: 40px;
	   width: 40px;
	   background-image: url(../images/photo.jpg);
	   margin:0 auto;
	   margin-top:15px;
       background-size: 100% auto;
}
.badges{height: 32px;
        line-height: 26px;
        background-color: #F74C30;
        max-width:40px;
        border-radius: 18px;
        margin-top: 10px;
}
.col-in{min-width:100px;
        max-width:380px;
        width: 230px;
        padding: 10px 20px;
        border-radius: 20px;
        position: relative;
}

.col-ins{
        padding:10px!important;
        
}
.col-in em{position: absolute;
           display: block;
           width: 8px;
           height: 8px;
}
.col-in em.l{top:20px;
             left:-8px;
             background-image: url(../images/arrs_r3_c1.jpg);
}
.col-in em.ls{top:12px;
             left:-11px;
             width: 12px;
             height: 9px;
             background-image: url(../images/ls.jpg);
}
.col-in em.r{bottom:20px;
             right:-7px;
             background-image: url(../images/arrs_r1_c6.jpg);
}
.col-in em.rs{top:12px;
             right:-11px;
             height: 9px;
             width: 12px;
             background-image: url(../images/rs.jpg);
}
.row-in{border-radius: 20px;
        
}
.btns{width: 94px;
      height: 31px;
      background-color: #ff7300;
      line-height: 31px;
      border:0;
      border-radius: 3px;
      display:block;
      margin:0 auto;
}

textarea{min-height: 90px;
         padding-top:4px;
         padding-bottom:4px;
         width:100%;
}
.btnclose{width: 84px;
         height: 33px;
         line-height: 33px;
         color:#323232;
         text-align: center;
         background-color: #eee9e9;
         border-radius: 3px;
        /*  border:1px solid #ccc; */
        border:0;
}
.btnsend{width: 84px;
         height: 33px;
         line-height: 33px;
         text-align: center;
         background-color: #ff7300;
         border-radius: 3px;
         border:0;
         margin-left: 20px;
}

.img-circle {
  border-radius: 50%;
}

 .badge {
  color: #fff;
  text-align: center;
}

.footer{height: 50px;
        position:fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        border-top:1px solid #C2C2C2;
        background-color: #F7F8FA;
}
.footer input{height: 35px;
              border-radius: 5px;
              border:1px solid #B8B7BC;
              width: 100%;
              margin-top: 7px;

}
.fbtnsend{height: 35px;
          width: 60px;
          border-radius: 5px;
          background-color: #FF5A00;
          border:0;
          margin-top: 7px;
}
.c_msg_list{
    margin-bottom: 100px;
}
.gray {      -webkit-filter: grayscale(100%);     -moz-filter: grayscale(100%);     -ms-filter: grayscale(100%);     -o-filter: grayscale(100%);          filter: grayscale(100%); 	     filter: gray; }
.chat_view_sub .bgcolor3,.chat_view_sub .fbtnsend{
    color: #FFF;
}
.user_headicon{width:35px;height: 35px;border-radius:50% 50%;}

.col-in .message_in{
    display: inline-block;
    overflow: hidden;
    white-space: normal;
    clear: both;
    word-break: break-word;
}

.container{
    padding:0 10px;
}
body{
    overflow-x: hidden;
}
/*******************************mini_msg****************************************/
.mini_msg{position: relative;min-height: 480px}
.m_dialog{
    width: 20.75rem;
    min-height: 15.55rem;
    position: fixed;
    z-index: 1101;
    margin-left: -10.375rem;
    left: 50%;
    top: 50%;
    margin-top: -10.3135rem;
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.m_dialog .title{
    height: 4.625rem;
    background-color:rgba(253,253,253,.95);
    text-align: center;
    margin: 0;
    color: #666;
    font-size: 1.85rem;
    border-bottom: 1px solid #ccc;
    line-height: 4.625rem;
}
.m_dialog .content{
    background-color: rgba(253,253,253,.95);
    margin: 0;
    min-height: 6.125rem;
    color: #666;
    font-size: 1.8rem;
    text-align: center;
    padding-top: .5rem;
    display: table-cell;
    vertical-align: middle;
    width: 20.75rem;
}
.m_dialog .content.notitle{
    height: 10.925rem;
}

.m_dialog .content.full{
    height: 15.55rem;
}
.m_dialog .content.nobtns{
    height: 10.8rem;
}


.m_dialog .m_btns{
    height: 4.625rem;
    text-align: center;
    line-height: 4.625rem;
    color: #333;
    background-color: rgba(253,253,253,.95);
    border-top: 1px solid #ccc;
}
.m_dialog .m_btns  .t-btn{
    display: inline-block;
    font-size: 1.85rem;
    width: 49%;
    height: 100%;
    color: #333;
}
.m_dialog .m_btns  .t-btn.ok{
    border-left: 1px solid #ccc;
}

*, *::after, *::before {
    box-sizing: border-box;
}
*, *::after, *::before {
    box-sizing: border-box;
}

.t-dimer.active {
    display: block;
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    height: 100%;
    opacity: 0;
    position: fixed;
    right: 0;
    width: 100%;
    z-index: 1100;
    left: 0;
    top: 0;
}
.t-dimer.active {
    opacity: 1;
}
*, *::after, *::before {
    box-sizing: border-box;
}
/*********************************************************************/