<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="target-densitydpi=device-dpi" /> 
	<meta name="viewport" content="target-densitydpi=high-dpi" /> 
	<meta name="viewport" content="target-densitydpi=medium-dpi" /> 
	<meta name="viewport" content="target-densitydpi=low-dpi" /> 
    <meta name="viewport" content="target-densitydpi=1" />
	<meta name="viewport" content="width=device-width,height=device-height, user-scalable=no,initial-scale=0.5, minimum-scale=0.5, maximum-scale=0.5,target-densitydpi=device-dpi">
	<meta name="format-detection" content="telephone=no"/>
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<title>聊天</title>
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../css/service.css">
</head>
<body class="bgcolor2">
	
	<div class="container-fluid border-bot header bgf">
		<div class="row">
			<div class="col-xs-2 col-sm-1">
				<em class="arrow"></em>
			</div>
			<div class="col-xs-8 col-sm-10 mt15">
				<h3 class="f30 align-center">群名称</h3>
			</div>
			<div class="col-xs-2 col-sm-1">
				<span class="butn"></span>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row mt30">
			<div class="col-xs-2 col-sm-1">
				<img src="../images/pic_r1_c1.jpg" alt="">
			</div>
			<div class="col-xs-10 col-sm-11 ">
				<p>
					<span class="f16">用户名</span>
				</p>
				<div class="col-in bgf fleft">
					<em class="l"></em>
					<span class="f20">非常感谢</span>
				</div>
			</div>
		</div>
		<div class="row mt30">
			<div class="col-xs-2 col-sm-1 col-xs-push-10 col-sm-push-11">
				<img src="../images/pic_r1_c1.jpg" alt="">
			</div>
			<div class="col-xs-10 col-sm-11 col-xs-pull-2 col-sm-pull-1">
				<p class="tright">
					<span class="f16">用户名</span>
				</p>
				<div class="col-in bgcolor3 fright cf">
					<em class="r"></em>
					<span class="f20">非常感谢</span>
				</div>
			</div>
	
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12">
				<span class="align-center disblock f16">11:03</span>
			</div>
		</div>
		<div class="row mt30">
			<div class="col-xs-2 col-sm-1">
				<img src="../images/pic_r1_c1.jpg" alt="">
			</div>
			<div class="col-xs-10 col-sm-11 ">
				<p>
					<span class="f16">用户名</span>
				</p>
				<div class="col-in bgf fleft">
					<em class="l"></em>
					<span class="f20 lh30">非常感谢非常感谢非常感谢非常感谢非常感谢非常感谢非常感谢</span>
				</div>
			</div>
		</div>
		<div class="row mt30">
			<div class="col-xs-2 col-sm-1 col-xs-push-10 col-sm-push-11">
				<img src="../images/pic_r1_c1.jpg" alt="">
			</div>
			<div class="col-xs-10 col-sm-11 col-xs-pull-2 col-sm-pull-1">
				<p class="tright">
					<span class="f16">用户名</span>
				</p>
				<div class="col-in bgcolor3 fright cf">
					<em class="r"></em>
					<span class="f20">非常感谢</span>
				</div>
			</div>
	
		</div>
	</div>
	<div class="container-fluid footer">
		<div class="col-xs-9 col-sm-10">
			<input type="text" class="f26">
		</div>
		<div class="col-xs-3 col-sm-2">
			<button class="fbtnsend cf f26">发送</button>
		</div>
	</div>
</body>
</html>