<div class="edu_msg cm_msg_dialog_1440830078304 edu_ui_dialog">
    <div class="edu_msg_title"><span class="t_con">温馨提示</span> <a class="close">关闭</a></div>
    <div class="edu_msg_content"><%=msg%></div>
    <div class="edu_msg_footer"></div>
</div>