<div class="row mt30 c_right">
    <div class="col-xs-2 col-sm-1">
        <img class="user_headicon" src="<%=msg.headicon%>" alt="">
    </div>
    <div class="col-xs-10 col-sm-11 ">
        <p>
            <span class="f16"><%=msg.cname%> </span>
        </p>
        <div class="col-in bgf fleft">
            <em class="l"></em>
            <span class="f20"><%=msg.msg%></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12">
        <span class="align-center disblock f16"><%=msg.datetime&&msg.datetime.split(' ')[1]%></span>
    </div>
</div>