<a href="<%=url%>" target="_blank">
<div style="width:250px; overflow:hidden; text-overflow: ellipsis; margin-bottom: 3px;">
    <span>
        <img src='<%=ficon%>' style="width: 40px; height: 40px;"  />
        <div style="width:200px;overflow: hidden;text-overflow: ellipsis;display:inline-block;" alt="<%=file%>"><%=file%></div>
    </span>
</div>
</a>