<div class="box-in marauto" id="<%=parseInt(chat.id)%>">
    <div class="box-in-t helght57 bgcolor p15">
        <h3 class="f20 cf"><!--蜜蜂金融--><%=chat.to_cname%></h3>
    </div>
    <div class="box-in-c bgcolor5">
        <div class="box-c-l fleft">
            <div class="l-c1 bgf border bor-t-n">
                <div class="l-c1-c1 align-center mt10">
                    <a href="javascript:void(0);" class="f14 moremsgbtn">查看更多</a>
                </div>
                <div class="l-c1-c3" style="overflow: auto; height: 300px;">

                </div>
            </div>
            <div class="l-c2">

            </div>
            <div class="l-c3 bgf border">
                <div>
                    <textarea name="" id="" cols="30" rows="4" class="border0 inputmsg"></textarea>
                </div>
                <div class="tright l-c3-b bgcolor9">
                    <button class="btnclose f16">关闭</button>
                    <button class="btnsend cf f16">发送</button>
                </div>

            </div>
        </div>
        <div class="box-c-r fleft">
            <div class="mberlist">

            </div>
            <%if(!(chat.gowner == 1 || chat.gowner == chat.user) ){%>
            <div class="foot">
                <span class="f14 color3 tright">退群</span>
            </div>
            <%}%>
        </div>
    </div>
</div>