<div class="boxin" id="<%=parseInt(chat.id)%>">
    <div class="chat_dialog_c">
        <div class="dialog_c_e">
            <div class="morehua moremsgbtn" style="margin: 0 150px; padding: 10px; color:blue; cursor: pointer; text-decoration: underline;">查看更多对话</div>
            <div class="disscuss l-c1-c3">
            </div>
        </div>
        <!--<div class="l-c2" style="position: relative;">-->
            <!--<img src="../images/emoji/ssmile.png" style="width:26px;height:26px;" class="chemoji" />-->
            <!--<ul class="emojipanel"></ul>-->
        <!--</div>-->
        <div class="shezhi l-c2" style="position: relative;">
            <span>
                <img src="images/biaoqing.png" alt="">
                <ul class="emojipanel"></ul>
            </span>
            <!--<span>-->
                <!--<img src="images/shangchuan.png" alt="">-->
            <!--</span>-->
            <span style="float:right;">在线时间：09:00~23:00</span>
        </div>
        <!--<div class="l-c3 bgf border">-->
            <!--<div>-->
                <!--<textarea name="" id="" cols="30" rows="4" class="border0 inputmsg"></textarea>-->
            <!--</div>-->
            <!--<div class="tright l-c3-b bgcolor9">-->
                <!--<button class="btnclose f16">关闭</button>-->
                <!--<button class="btnsend cf f16">发送</button>-->
            <!--</div>-->

        <!--</div>-->
        <textarea name="" id="" cols="30" rows="10" class="inputmsg"></textarea>
        <div class="chat_dialog_cbtns">
            <button class=" chat_dialog_cbtn close btnclose">关闭</button>
            <button class=" chat_dialog_cbtn send btnsend">发送</button>
        </div>
    </div>
    <div class="chat_dialog_r">
        <div class="chengyuan">
            <p>群成员</p>
        </div>
        <div class="namE">
            <div class="mberlist">

            </div>
        </div>
        <%if(!(chat.gowner == 1 || chat.gowner == chat.user) ){%>
        <div class="tuiqunquit">
            <a href="javascript:void(0);" class="exitgbtn">退群</a>
        </div>
        <%}%>
    </div>
</div>