<div class="chat_view_sub" id="<%=parseInt(chat.id)%>">
    <div class="container-fluid border-bot header bgf">
        <div class="row">
            <div class="col-xs-2 col-sm-1">
                <em class="arrow get_list"></em>
            </div>
            <div class="col-xs-8 col-sm-10 mt15">
                <h3 class="f30 align-center"><%=chat.to_cname%></h3>
            </div>
            <div class="col-xs-2 col-sm-1">
                <span class="butn showGroupList"></span>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="c_msg_list">

        </div>

    </div>
    <div class="container-fluid footer">
        <div class="col-xs-9 col-sm-10">
            <input type="text" class="f26 inputmsg" placeholder="">
        </div>
        <div class="col-xs-3 col-sm-2">
            <button class="fbtnsend cf f26">发送</button>
        </div>
    </div>
</div>