<%for(var i=0; i<data.length; i++){%>
    <div class="row">
        <div class="col-xs-3 helght140 col-sm-2">
            <div class="col-l"></div>
        </div>
        <div class="col-xs-7 border-bots helght140 paddingtop40 col-sm-8">
            <h4 class="f34">信贷顾问群1</h4>
            <p class="sr-only f20">
                <span class="color1">想好了就在一起</span>
            </p>
        </div>
        <div class="col-xs-2 border-bots helght140 paddingtop40 col-sm-2">
            <span class="color1 f20 disblock align-center">12:22</span>
            <span class="badge disblock badges f16 marauto">252</span>
        </div>
    </div>
<%}%>
