<div id="<%=fileid%>" style="margin-bottom: 3px;">
    <span>
        <img src='<%=ficon%>' style="width: 30px; height: 30px;"  />
        <span><%=file%></span>
    </span>
    <div style='position: relative;width: 100%;margin-top: 5px; height: 8px;'>
        <div style='width: 100%;left:0;position: absolute;height:2px;border:3px solid #ccc; background-color: #aaa;z-index:1;'></div>
        <div class="progress-bar" style='width:<%=percent%>%; left: 0; top: 3px; position: absolute;height: 2px; background-color: #060;z-index:3;'></div>
    </div>
</div>