<div class="mt20 clear">
    <div class="row p15">
        <div class="row-l fleft">
            <img src="../images/pic_r1_c1.jpg" alt="" class="border">

        </div>
        <div class="row-r fleft p15 mt5">
            <div>
                <span class="f14 color4"><%=msg.cname%> <%=msg.datetime.split(' ')[1]%></span>
            </div>
            <div class="row-r-in border3 bgcolor7">
                <span class="f14"><%=msg.msg%></span>
                <em class="ls"></em>
            </div>
        </div>
    </div>
</div>