<div class="mt20 clear">
    <div class="row p15 ">
        <div class="row-l fright mright">
            <img src="<%=msg.headicon%>" alt="" class="border">
        </div>
        <div class="row-r fright p15">
            <div class="tright">
                <span class="f14 p25 color4"><%=msg.cname%> <%=msg.datetime.split(' ')[1]%></span>
            </div>
            <div class="row-r-in mt5 border2 bgcolor5">
                <span class="f14"><%=msg.msg%></span>
                <em class="rs"></em>
            </div>
        </div>
    </div>
</div>