<dl class="dlLeft">
    <dt><img src="<%=msg.headicon%>" alt=""></dt>
    <dd>
        <div>
            <span><%=msg.cname%> <%=msg.datetime.split(' ')[1]%></span>
        </div>
        <div class="word-wrap">
            <%=msg.msg.replace(/\n/g, '<br/>')%>
        </div>
    </dd>
</dl>