<div class="boxin" id="<%=parseInt(chat.id)%>">
    <div class="chat_dialog_c">
        <div class="dialog_c_e">
            <div class="morehua moremsgbtn" style="margin: 0 140px; padding: 10px; color:blue; cursor: pointer; text-decoration: underline;">查看更多对话</div>
            <div class="disscuss l-c1-c3"></div>
        </div>
        <div class="shezhi l-c2" style="position: relative;">
            <span>
                <img src="../images/biaoqing.png" class="chemoji" alt="">
                <ul class="emojipanel"></ul>
            </span>
            <span>
                <img src="../images/shangchuan.png" class="upfilebtn" alt="">
            </span>
            <span style="float:right;">在线时间：09:00~23:00</span>
        </div>
        <textarea name="" id="" cols="30" rows="10" class="inputmsg"></textarea>
        <div style="width: 200px;float: left;padding: 14px;">Ctrl+Enter 可快捷发送 </div>
        <div class="chat_dialog_cbtns">
            <button class=" chat_dialog_cbtn close btnclose">关闭</button>
            <button class=" chat_dialog_cbtn send btnsend">发送</button>
        </div>
    </div>
    <div class="chat_dialog_r">
        <dl>
            <dt class="productimgcontainer"><img src="../images/kefu.png" alt="" style="display:block;margin:0 auto;with:170px;height: 170px;"></dt>
            <dd class="zixun productinfocontainer"><span>欢迎访问融吧智能咨询系统！</span></dd>
        </dl>
        <%if(!chat.joinedGroup){%>
        <button class="chat_dialog_rbtn applyGroup">申请加群</button>
        <%}%>
    </div>
</div>