<div class="box-in marauto" id="<%=parseInt(chat.id)%>">
    <div class="box-in-t helght57 bgcolor p15">
        <h3 class="f20 cf"><!--蜜蜂金融--><%=chat.to_cname%></h3>
    </div>
    <div class="box-in-c bgcolor5">
        <div class="box-c-l fleft">
            <div class="l-c1 bgf border bor-t-n">
                <div class="l-c1-c1 align-center mt10">
                    <a href="javascript:void(0);" class="f14 moremsgbtn">查看更多</a>
                </div>
                <div class="l-c1-c3" style="overflow: auto; height: 300px;">

                </div>
            </div>
            <div class="l-c2" style="position: relative;">
                <img src="../images/emoji/ssmile.png" style="width:26px;height:26px;" class="chemoji" />
                <ul class="emojipanel"></ul>
                <img src="../images/file.png" style="width:26px;height:26px; margin-left: 5px;" class="upfilebtn" />
                <!--<img src="../images/image.png" style="width:26px;height:26px;" class="upimgbtn" />-->
            </div>
            <div class="l-c3 bgf border">
                <div>
                    <textarea name="" id="" cols="30" rows="4" class="border0 inputmsg"></textarea>
                </div>
                <div class="tright l-c3-b bgcolor9">
                    <button class="btnclose cf f16">关闭</button>
                    <button class="btnsend cf f16">发送</button>
                </div>

            </div>
        </div>
        <div class="box-c-r fleft">
            <div class="r-c1 productinfocontainer" style="height: 210px; overflow-x: hidden; overflow-y: auto;">
                <img src="../images/pc.jpg" alt="">
            </div>
            <div class="r-c2 mt20">
                <p class="p15">
                    <span>欢迎访问蜜蜂金融，我是智能顾问蜜蜂，请问有什么可以帮助您？</span>
                </p>
            </div>
            <%if(!chat.joinedGroup){%>
            <div class="r-c3 mt32">
                <button class="btns cf f16 applyGroup">申请加群</button>
            </div>
            <%}%>
        </div>
    </div>
</div>