<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="target-densitydpi=device-dpi" /> 
	<meta name="viewport" content="target-densitydpi=high-dpi" /> 
	<meta name="viewport" content="target-densitydpi=medium-dpi" /> 
	<meta name="viewport" content="target-densitydpi=low-dpi" /> 
    <meta name="viewport" content="target-densitydpi=1" />
	<meta name="viewport" content="width=device-width,height=device-height, user-scalable=no,initial-scale=0.5, minimum-scale=0.5, maximum-scale=0.5,target-densitydpi=device-dpi">
	<meta name="format-detection" content="telephone=no"/>
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<title>聊天</title>
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../css/service.css">
    <script src="/socket.io/socket.io.js"></script>
</head>
<body class="bgcolor2 chat_view">

</body>
<script data-main="../js/single_chat" src="../js/require.js" async></script>
</html>