<!DOCTYPE>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html,charset=utf-8" />
        <title>121123</title>
    </head>
    <body>
        <div style='margin-left: 100px;margin-top:100px;min-width:100px;'>
            <span>
                <img src='../images/zip.png' style="width: 40px; height: 40px;"  />
                <span>sfsfjsklfjsldj.rar</span>
            </span>
            <div style='position: relative;width: 100px;margin-top: 5px;'>
                <div style='width: 100px;left:10px;position: absolute;height:2px;border:3px solid #ccc; background-color: #aaa;z-index:1;'></div>
                <div style='width: 50%; left: 13px; top: 3px; position: absolute;height: 2px; background-color: #060;z-index:3;'></div>
            </div>
        </div>
    </body>
</html>
