<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>聊天</title>
	<link rel="stylesheet" type="text/css" href="../css/service.css">
	<link rel="stylesheet" type="text/css" href="../css/pc.css">
</head>
<body>
<div class="bigbox clear bgcolor8">
	<div class="box-l fleft">
		<div class="bodcolor w160">
			<div class="w160 boeder-bot-d">
				<h3 class="cf align-center f20 p20">会话</h3>
		    </div>
		    <div class="box-l-c clear">
		    	<ul class="clear boeder-bot-d contactlistview">
		    		<!--<li class="mt20 w160 current">
		    			<span class="f14 color3">信贷顾问群1</span>
		    		</li>
		    		<li class="mt20 w160 current">
		    			<span class="f14 color3">信贷顾问群1</span>
		    		</li>
		    		<li class="mt20 w160 current">
		    			<span class="f14 color3">信贷顾问群1</span>
		    		</li>
		    		<li class="mt20 w160">
		    			<span class="f14 color2">信贷顾问群1</span>
		    		</li>
		    		<li class="mt20 w160">
		    			<span class="f14 color2">信贷顾问群1</span>
		    		</li>
		    		<li class="mt20 w160 mb30">
		    			<span class="f14 color2">信贷顾问群1</span>
		    		</li>-->
		    	</ul>
		    </div>
		    <div class="clear box-l-b">
		    	<p class="mt20">
		    		<h3 class="f16 cf align-center">在线时间</h3>
		    	</p>
		    	<p class="mb30 mt10 clear">
		    		<span class="f14 cf align-center disblock">0:00-24:00</span>
		    	</p>
		    </div>
	    </div>
	</div>
	<div class="box fleft">
		<div class="box-in marauto">
			<div class="box-in-t helght57 bgcolor p15">
				<h3 class="f20 cf">蜜蜂金融</h3>
			</div>
			<div class="box-in-c bgcolor5">
				<div class="box-c-l fleft">
					<div class="l-c1 bgf border bor-t-n">
						<div class="l-c1-c1 align-center mt10">
							<a href="" class="f14">查看更多</a>
						</div>
						<div class="l-c1-c3">
							<div class="mt20 clear">
								<div class="row p15">
									<div class="row-l fleft">
										<img src="../images/pic_r1_c1.jpg" alt="" class="border">
										
									</div>
									<div class="row-r fleft p15 mt5">
										<div>
											<span class="f14 color4">名称 2015-08-03 22:42:30</span>
										</div>
									    <div class="row-r-in border3 bgcolor7">
									    	<span class="f14">内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</span>
									    	<em class="ls"></em>
									    </div>
									</div>
								</div>
							</div>
							<div class="mt20 clear">
								<div class="row p15 ">
									<div class="row-l fright mright">
										<img src="../images/pic_r1_c1.jpg" alt="" class="border">
									</div>
									<div class="row-r fright p15">
										<div class="tright">
											<span class="f14 p25 color4">名称 2015-08-03 22:46:23</span>
										</div>
										<div class="row-r-in mt5 border2 bgcolor5">
											<span class="f14">内容水电费后多提意见egtr内容水电费后多提意见egtr</span>
									    	<em class="rs"></em>
									    </div>
									</div>	
								</div>
							</div>
						</div>
					</div>
					<div class="l-c2">
						
					</div>
					<div class="l-c3 bgf border">
						<div>
							<textarea name="" id="" cols="30" rows="4" class="border0"></textarea>
						</div>
						<div class="tright l-c3-b bgcolor9">
							<button class="btnclose f16">关闭</button>
							<button class="btnsend cf f16">发送</button>
						</div>
						
					</div>
				</div>
				<div class="box-c-r fleft">
					<div class="r-c1">
						<img src="../images/pc.jpg" alt="">
					</div>
					<div class="r-c2 mt20">
						<p class="p15">
							<span>欢迎访问蜜蜂金融，我是智能顾问蜜蜂，请问有什么可以帮助您？</span>
						</p>
					</div>
					<div class="r-c3 mt32">
						<button class="btns cf f16">申请加群</button>
					</div>
				</div>∂
			</div>
		</div>
	</div>
</div>
</body>
<script data-main="../js/mychat" src="../js/require.js" async></script>
<script src="/socket.io/socket.io.js"></script>
</html>