<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>聊天</title>
	<link rel="stylesheet" type="text/css" href="../css/service.css">
	<link rel="stylesheet" type="text/css" href="../css/pc.css">
	<script src="/socket.io/socket.io.js"></script>
</head>
<body>
<div class="bigbox clear bgcolor8">
	<div class="box-l fleft">
		<div class="bodcolor w160">
			<div class="w160 boeder-bot-d">
				<h3 class="cf align-center f20 p20">会话</h3>
		    </div>
		    <div class="box-l-c clear">
		    	<ul class="clear boeder-bot-d contactlistview" style="overflow-y: auto;height: 465px;">
		    		<!--<li class="mt20 w160 current">
		    			<span class="f14 color3">信贷顾问群1</span>
		    		</li>
		    		<li class="mt20 w160 current">
		    			<span class="f14 color3">信贷顾问群1</span>
		    		</li>
		    		<li class="mt20 w160 current">
		    			<span class="f14 color3">信贷顾问群1</span>
		    		</li>
		    		<li class="mt20 w160">
		    			<span class="f14 color2">信贷顾问群1</span>
		    		</li>
		    		<li class="mt20 w160">
		    			<span class="f14 color2">信贷顾问群1</span>
		    		</li>
		    		<li class="mt20 w160 mb30">
		    			<span class="f14 color2">信贷顾问群1</span>
		    		</li>-->
		    	</ul>
		    </div>
		    <div class="clear box-l-b">
		    	<p class="mt20">
		    		<h3 class="f16 cf align-center">在线时间</h3>
		    	</p>
		    	<p class="mb30 mt10 clear">
		    		<span class="f14 cf align-center disblock">0:00-24:00</span>
		    	</p>
		    </div>
	    </div>
	</div>
	<div class="box fleft">

	</div>
</div>
</body>
<script data-main="../js/schat" src="../js/require.js" async></script>
</html>