<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>聊天页面</title>
	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="../css/style.css">
	<script src="/socket.io/socket.io.js"></script>

</head>
<body style="background-color:#A7D3EA">
<div class="chat_box">
	<div class="chat_cont" style="margin-top:20px;">
		<ul class="chuangkou">
			<li style="display: none;"><img src="images/min.png" alt=""></li>
			<li style="display: none;><img src="images/max.png" alt=""></li>
			<li style="display: none;><img src="images/close.png" class="closewinbtn" alt=""></li>
		</ul>
		<div class="tophead" style="background-color: #FFF">
			<img src="images/logo.png" alt="">
			<p class="chattile"></p>
		</div>
		<div class="chat_dialog">
			<div class="chat_dialog_l">

				<ul class="list contactlistview">

				</ul>
				
					<!--<span class="up"><a href="javascript:void(0);"><img src="images/pre.png" alt="" style="margin:0;margin-left:10px;"></a></span>-->
					<!--<div id="box_wwwzzjs_net">-->
						<!--<ul class="list contactlistview">-->

						<!--</ul>-->
					<!--</div>-->
					<!--<span class="down"><a href="javascript:void(0);"><img src="images/next.png" alt=""></a></span>-->
				
			</div>
            <div class="chatwindow"></div>
        </div>
	</div>
</div>	
</body>
<script src="../js/json2.js"></script>
<script data-main="../js/schat" src="../js/require.js" async></script>
</html>
