<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="target-densitydpi=device-dpi" /> 
	<meta name="viewport" content="target-densitydpi=high-dpi" /> 
	<meta name="viewport" content="target-densitydpi=medium-dpi" /> 
	<meta name="viewport" content="target-densitydpi=low-dpi" /> 
    <meta name="viewport" content="target-densitydpi=1" />
	<meta name="viewport" content="width=device-width,height=device-height, user-scalable=no,initial-scale=0.5, minimum-scale=0.5, maximum-scale=0.5,target-densitydpi=device-dpi">
	<meta name="format-detection" content="telephone=no"/>
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<title>客服手机端</title>
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../css/service.css">

</head>
<body>
	<header class=" bgcolor">
		<em class="arrows"></em>
		<h3 class="align-center cf">信贷顾问名称</h3>
	</header>
	<div class="container">
		<div class="row">
			<div class="col-xs-2 helght140 col-sm-2">
				<div class="col-l"></div>
			</div>
			<div class="col-xs-8 border-bots helght140 paddingtop40 col-sm-8">
				<h4 class="f26">信贷顾问群1</h4>
				<p class="sr-only f20">
					<span class="color1">想好了就在一起</span>
				</p>
			</div>
			<div class="col-xs-2 border-bots helght140 paddingtop40 col-sm-2">
				   <span class="color1 f20 disblock align-center">12:22</span>
				   <span class="badge disblock badges f16 marauto">252</span>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4 helght140 col-sm-2">
				<div class="col-l"></div>
			</div>
			<div class="col-xs-5 border-bots helght140 paddingtop40 col-sm-8">
				<h4 class="f26">信贷顾问群1</h4>
				<p class="sr-only f20">
					<span class="color1">想好了就在一起</span>
				</p>
			</div>
			<div class="col-xs-3 border-bots helght140 paddingtop40 col-sm-2">
				   <span class="color1 f20 disblock align-center">12:22</span>
				   <span class="badge disblock badges f16 marauto">252</span>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4 helght140 col-sm-2">
				<div class="col-l"></div>
			</div>
			<div class="col-xs-5 border-bots helght140 paddingtop40 col-sm-8">
				<h4 class="f26">信贷顾问群1</h4>
				<p class="sr-only f20">
					<span class="color1">想好了就在一起</span>
				</p>
			</div>
			<div class="col-xs-3 border-bots helght140 paddingtop40 col-sm-2">
				   <span class="color1 f20 disblock align-center">12:22</span>
				   <span class="badge disblock badges f16 marauto">252</span>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4 helght140 col-sm-2">
				<div class="col-l"></div>
			</div>
			<div class="col-xs-5 border-bots helght140 paddingtop40 col-sm-8">
				<h4 class="f26">信贷顾问群1</h4>
				<p class="sr-only f20">
					<span class="color1">想好了就在一起</span>
				</p>
			</div>
			<div class="col-xs-3 border-bots helght140 paddingtop40 col-sm-2">
				   <span class="color1 f20 disblock align-center">12:22</span>
				   <span class="badge disblock badges f16 marauto">252</span>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4 helght140 col-sm-2">
				<div class="col-l"></div>
			</div>
			<div class="col-xs-5 border-bots helght140 paddingtop40 col-sm-8">
				<h4 class="f26">信贷顾问群1</h4>
				<p class="sr-only f20">
					<span class="color1">想好了就在一起</span>
				</p>
			</div>
			<div class="col-xs-3 border-bots helght140 paddingtop40 col-sm-2">
				   <span class="color1 f20 disblock align-center">12:22</span>
				   <span class="badge disblock badges f16 marauto">252</span>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4 helght140 col-sm-2">
				<div class="col-l"></div>
			</div>
			<div class="col-xs-5 border-bots helght140 paddingtop40 col-sm-8">
				<h4 class="f26">信贷顾问群1</h4>
				<p class="sr-only f20"> 
					<span class="color1">想好了就在一起</span>
				</p>
			</div>
			<div class="col-xs-3 border-bots helght140 paddingtop40 col-sm-2">
				   <span class="color1 f20 disblock align-center">12:22</span>
				   <span class="badge disblock badges f16 marauto">252</span>
			</div>
		</div>
		
	</div>
</body>
</html>